@import '../App.css';

.container {
    padding-top: 1rem;
    background-color: var(--background);
    min-height: 100vh;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(54, 88, 146, 1), var(--background));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: -1000;
}

.sectionHeader {
    margin-top: 4rem;
    padding: 0;
    color: var(--text-primary);

}

.sectionContainer:last-child {
    margin-bottom: 20vh;
}

.resumeRow {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: fit-content;
}

.resumeRow a p {
    margin: 1rem 0rem 0rem 0rem;
    width: fit-content;
}

.resumeRow a, .resumeRow p {
    height: fit-content;
    margin: 0;
}

.sectionLabel {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.email p {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    color: var(--text-primary);
}



/* .email p::before {
    width: 16px;
    height: 16px;
    content: url('../assets/email-outline.svg');
} */


*[data-theme=dark] .email span::before {
    filter: invert(1) brightness(1.5)
}

.email * {
    margin: 0;
    padding: 0;
}

.email {
    max-width: 100%;
    gap: 0.5rem;
}

.row {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    padding: 0;
}

.row * {
    padding: 0;
    margin: 0;
}

.resumeRow a:hover {
    font-weight: bold;
}